<html>
<style type="text/css">
h1 { border:1px solid black }
h2 { color: green; }
p { color:red; }
</style>
<h1 style="font-weight:bolder">Thank you {{ name }}</h1>
<p></p>
<p>Every sign-up moves us that much closer to further engraining travel into corporate life.</p>
<p>You can help out even more. Share your referral code with coworkers at {{ company }}, and increase the chances that your employer signs on.</p>

<p>treehoppr.com/sign-up/{{ referral_code }}</p>

<a href="{{ base_url }}/unsubscribe/{{ referral_code }}">Unsubscribe</a>
</html>