<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- BASIC INFO -->
    <title>Peak</title>
    <meta name="author" content="Doug Franklin">
    <!-- FAVICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS
        ================================= -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="enable-animations enable-preloader">
    <i class="fa fa-facebook-square fbLogo" style="font-size:400px;"></i>
    <script>
    if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }
    </script>
    <script src="{{url_for('static', filename='js/copytoclipboard.js')}}"></script>
</body>

</html>