<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- BASIC INFO -->
        <title>Treehoppr: Travel Perks for Corporate Employees</title>
        <meta name="author" content="Kevin Corliss, Doug Franklin">
        <meta name="keywords" content="responsive, parallax, bootstrap, html5 template, one page, landing page">
        <meta name="description" content="Treehoppr specializes in travel related benefits for corporations and businesses of all sizes. Our customizable software solutions simplify the travel experience and cater to each individual traveler's needs - through saving, planning, booking and beyond.">

        <!-- FAVICONS -->
        <link rel="icon" href="{{url_for('static', filename='images/favicons/favicon.ico')}}">

        <!-- CSS
        ================================= -->

        <!-- GOOGLE FONTS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

        <!-- LIBRARIES CSS -->
        <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="/static/css/font-awesome.min.css"> -->
        <!-- <link rel="stylesheet" href="/static/css/animate.min.css"> -->

        <!-- SPECIFIC CSS -->
        <!-- <link rel="stylesheet" href="/static/css/style.css"> -->

            {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"> 
    {% endassets %}

        <!-- COLORS -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/pink.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/red.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/orange.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/yellow.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/green.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/turquoise.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="css/colors/blue.css"> -->
        <link id="color-css" rel="stylesheet" href="{{url_for('static', filename='css/colors/treehoppr.css')}}">
        
    </head>

    <body class="enable-animations enable-preloader">

        <div id="document" class="document">

            <!-- HEADER
            ================================= -->
            <header id="header" class="header-section section section-dark navbar navbar-fixed-top">

                <div class="container-fluid">

                    <div class="navbar-header navbar-left">

                        <!-- RESPONSIVE MENU BUTTON -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- HEADER LOGO -->
                        <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                            <img src="{{url_for('static', filename='images/logos/Treehoppr-landscape-logo-no-background.png')}}" srcset="{{url_for('static', filename='images/logos/Treehoppr-landscape-logo-no-background.png')}} 2x" alt="Treehoppr">
                        </a>

                    </div>

                    <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">
                        
                        <!-- NAVIGATION LINKS -->
                        <ul id="header-nav" class="nav navbar-nav">
                            
                            <li><a href="#hero" class="hidden">Top</a></li>

                            
                            <!-- HEADER ACTION BUTTON -->
                            <li class="header-action-button"><a href="/" class="btn btn-primary">Return Home</a></li>

                        </ul>

                    </nav>

                </div>

            </header>
        <!-- HERO
			================================= -->
        <section id="hero" class="hero-section hero-layout-simple section section-dark">
            <div class="section-background">

                <!-- IMAGE BACKGROUND -->
                <div class="section-background-image parallax" data-stellar-ratio="0.4">
                    <img src="{{url_for('static', filename='images/backgrounds/cool2.jpg')}}" style="opacity: 0.4;">
                </div>

                <!-- VIDEO BACKGROUND -->
                <!-- <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
                    <video preload="auto" autoplay loop muted poster="{{url_for('static', filename='images/backgrounds/treehoppr.mp4')}}" style="opacity: 0.7;">
                        <source type="video/mp4" src="{{url_for('static', filename='videos/treehoppr.mp4')}}">
                        <source type="video/ogg" src="{{url_for('static', filename='videos/treehoppr.ogv')}}">
                        <source type="video/webm" src="{{url_for('static', filename='videos/treehoppr.webm')}}">
                    </video>
                </div>
 -->
                <!-- SLIDESHOW BACKGROUND -->
                <!-- <ul class="section-background-slideshow parallax" data-stellar-ratio="0.4" data-speed="800" data-timeout="4000">
                    <li><img src="images/backgrounds/hero-bg-slideshow-1.jpg" alt="" style="opacity: 0.25;"></li>
                    <li><img src="images/backgrounds/hero-bg-slideshow-2.jpg" alt="" style="opacity: 0.25;"></li>
                    <li><img src="images/backgrounds/hero-bg-slideshow-3.jpg" alt="" style="opacity: 0.2;"></li>
                </ul> -->

            </div>
            <div class="container">
                <div class="hero-content">
                    <div class="hero-content-inner">
                        <div class="hero-heading text-center row" data-animation="fadeIn">
                            <div class="col-md-10 col-md-offset-1">
                                <h1 class="hero-title">You're One Step Closer</h1>
                                <p class="hero-tagline">To Reaching Your Travel Goals</p>
                            </div>
                        </div>
                        <div class="hero-features row">
                            <div class="hero-features-left col-md-7">
                                <p class="lead">Be first to sign up from your company and earn $1,000 toward any trip if we secure a contract with your employer.</p>
                                <ul class="icon-list">
                                    <li>
                                        <span class="icon-list-icon fa fa-check-square-o" data-animation="bounceIn"></span>
                                        <h4 class="icon-list-title">Sign Up</h4>
                                        <p>Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis.</p>
                                    </li>
                                    <li>
                                        <span class="icon-list-icon fa fa-heart-o" data-animation="bounceIn"></span>
                                        <h4 class="icon-list-title">Share the Love</h4>
                                        <p>Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis.</p>
                                    </li>
                                    <li>
                                        <span class="icon-list-icon fa fa-globe" data-animation="bounceIn"></span>
                                        <h4 class="icon-list-title">See the World</h4>
                                        <p>Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="hero-features-right col-md-5" data-animation="fadeIn">
                                <!-- FORM -->
                                <form name="hero" action="/sign-up" method="post" id="form-sign-up" class="form" role="form">
                                    <h4 class="form-heading">Want to Get Travel Benefits?</h4>
                                    <div class="form-validation alert"></div>
                                    <div class="form-group">
                                        <label for="form-name">Full Name *</label>
                                        <input type="text" name="name" id="form-full-name" class="form-control" placeholder="Your Full Name" autocomplete="on" required="true" oninvalid="this.setCustomValidity('Please provide your name')" oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-name">Company Name *</label>
                                        <input type="text" name="company" id="form-company-name" class="form-control" placeholder="Your Last Name" autocomplete="on" required="true" oninvalid="this.setCustomValidity('Please provide your company name')" oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-email">Work Email *</label>
                                        <input type="email" name="email" id="form-email" class="form-control" placeholder="Your Valid Email Address" autocomplete="on" required="true" oninvalid="this.setCustomValidity('Please enter a valid email address')" oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-email">Job Title *</label>
                                        <input type="test" name="title" id="form-job-title" class="form-control" placeholder="Job Title" autocomplete="on" required="true" oninvalid="this.setCustomValidity('Please provide your job title')" oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-email">How did you hear about us?</label>
                                        <textarea type="test" name="hdyhau" id="form-hdyhau" class="form-control" placeholder="Online Ad? Word of mouth?" autocomplete="on" maxlength="85"></textarea>
                                    </div>
                                    
                                    <div class="form-group form-group-submit">
                                        <button class="btn btn-primary btn-lg btn-block" data-loading-text="Action Button">Sign Up</button>
                                    </div>
                                    {% if data.referred %}
                                    <div>
                                        <p>Referred by: {{ data.referred_by }}</p>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER
			================================= -->
        <section id="footer" class="footer-section section">

                <div class="container">

                    <h3 class="footer-logo">
                        <img src="{{url_for('static', filename='images/logos/thop4.png')}}" srcset="{{url_for('static', filename='images/logos/thop4.png')}}" alt="Treehoppr">
                    </h3>

                    <div class="footer-socmed">
                        <a href="https://www.facebook.com/treehoppr/" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a href="https://www.instagram.com/treehoppr/" target="_blank"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/company-beta/24970534/" target="_blank"><span class="fa fa-linkedin"></span></a>
                    </div>

                    <div class="footer-copyright">
                        &copy; 2017 Treehoppr, Inc.
                    </div>

                </div>

            </section>
    </div>
    <!-- LIBRARIES JS
		================================= -->
    <script src="{{url_for('static', filename='js/jquery-1.11.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/respimage.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jpreloader.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/smoothscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.nav.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.inview.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/maplace-0.1.3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/responsiveslides.min.js')}}"></script>
    <!-- MAIN SCRIPT
		================================= -->
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>