{% extends "login_base.html" %} {% block content %}
<div class="center">
    {% if page_options %}
    <form name="hero" action="/" method="post" id="form-choose-app" class="form" role="form">
        <div class="form-group">
            <label for="name">Please choose which page to Peek at.</label>
            <select name="page-id" class="form-control" type="text" id="form-page-name" class="form-control" required="true">
                {% for page in page_options %}
                <option value="{{ page.id }}">{{ page.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group form-group-submit">
            <button class="btn btn-primary btn-lg btn-block" data-loading-text="Action Button">Go!</button>
        </div>
    </form>
    {% else %}
    <p>You have no pages! Go make one.</p>
    {% endif %}
</div>
{% endblock %}